body {
    background-color: #D6EFED;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0 auto;
    width: 70%;
    text-align: justify;
    
}
.olist1 li {
    background-color: #495C83;
    
}
.ulist2 li {
    background-color: #C4D7E0;
    
}
.ulist3 li {
    background-color: #B2C8DF;
    
}
.ulist4 li {
    background-color: #6E85B7 ;
    
}
.ulist5{
    text-align: center;
    list-style-position: inside;
}
.callfriend {
    background-color: #495C83;
    border: 5px darkgray;
    box-shadow: blue 3px 3px;
    font-size: 25px;
    letter-spacing: 3px;
    
}

h1 {
    background-color: #495C83;
    border: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    letter-spacing: 5px;
    text-align: center;
     

}
.h21 {
    background-color: darkblue;
    color: #B7D3DF;
    font-size: 35px;
    letter-spacing: 3px;
    text-shadow: 3px 3px goldenrod;
    text-align: center;
    
}


.ulist1 {
    color: #630A10;
    font-family: Verdana, sans-serif;
    font-size: 20px; 
    list-style-position: inside;  
    text-align: center;
}

#button {
    background-color: solid black;
    border-radius: 20%;

}
